$font-stack: roboto;
$color: red;

.container{
  max-width: 1024px;
  margin: 0 auto;
}

.flow{
  display: flex;
  justify-content:space-between;
  align-items: center;
}


nav{
background-color: #1e1934;
  ul, li{
    list-style: none;
    text-decoration: none;
    color: #fff;
  }
}

.icon{
  font-size: 28px;
  color: #fff;
}


.secondary-nav-wrapper{
  background-color: #ee8823;
}


.search{
    width: 500px;
    height: 40px;
    margin-left: 50px;
    padding: 2px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    position: absolute;
}

.relative{
  width: 50px;
  height: 40px;
  position: relative;
  left: 530px;
}
